.container-div {
  border: solid #a0a096 1px;
  border-radius: 4px;
  background-color: #ffffff07;
  width: 50%;
  height: fit-content;
  max-height: 369px;
  margin-top: 10px;
  overflow: auto;
  scrollbar-width: none;
  padding-bottom: 4px;
}

.heading {
  margin: 5px;
  border-bottom: solid #ffffffc6 1px;
  font-size: larger;
  font-weight: 500;
}

.add-event-button {
  border: none;
  padding: 0px;
  background: none;
  height: fit-content;
  width: 98px;
  margin: 4px calc(50% - 49px);
  font-size: medium;
  transition: all 0.35s;
}

.add-event-button:hover {
  background: none;
  color: rgb(0, 200, 255);
  text-shadow: 0px 0px 5px rgb(0, 200, 255);
}

.add-event-button-disabled {
  border: none;
  padding: 0px;
  background: none;
  height: fit-content;
  width: 98px;
  margin: 4px calc(50% - 49px);
  font-size: medium;
  color: #fffbfb69;
}

.add-event-button-disabled:hover {
  background: none;
}

.no-events {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: #979797;
}

.form-container {
  width: 95%;
  margin: 4px 2.5%;
  height: fit-content;
  font-size: 16px;
  padding: 5px;
  display: flex;
  justify-content: left;
  background-color: #ffffffab;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
}

.form-container:hover {
  background-color: #ffffffab;
  box-shadow: white 0px 0px 10px;
}

.form-div {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.span-style {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.input-style {
  height: 40px;
  flex: 1;
  min-width: 0;
  border-radius: 5px;
  border: none;
  word-wrap: break-word;
  font-size: 12px;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.button-submit {
  padding: 0;
  height: 25px;
  background: none;
  border: none;
  transition: all 0.25s;
}

.button-submit:hover {
  color: #00a700;
  text-decoration: underline;
  text-shadow: 0px 0px 2px;
}

.button-close {
  padding: 0;
  height: 25px;
  background: none;
  border: none;
  transition: all 0.25s;
}

.button-close:hover {
  color: #ff0000;
  text-decoration: underline;
  text-shadow: 0px 0px 2px;
}

@media (max-width: 650px) {
  .container-div {
    width: 100%;
  }
}
